<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
        <!-- <link rel="stylesheet" href="format.css"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/format.css') }}">

    </head>
	<body>
        <div id="divLogin">
            <h1>Chat App Login</h1>
            <!-- form containing user login and password -->
            <form action="/login/" method="POST">
                <label for="user">Username:    </label>
                <input type="text" name="user" value="" />
                 <br>
                <label for="pass">Password:</label>
                <input type="text" name="pass" value="" />
                <br><br>
                <input type="submit" class="inner" value="Sign in" />
            </form>

            <!-- go to register-->
            <form action="/register/" method="GET">
                <input type="submit" class="inner" value="Register"/>
            </form>

            <!-- Triggered when login unsuccessful -->
            <br>
            {% block content %}
                <br>
                <label id="failed">{{result}}</label>
            {% endblock %}
        </div>

    </body>
</html>